#mainMenu {
    color: white;
    position: absolute;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navButtons {
    background: -webkit-linear-gradient(#f30d01, #fbb920);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    filter: drop-shadow(3px 2px 4px #fbb920)
}