@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");

#logo {
  position: absolute;
  width: 10.75%;
  height: 19vh;
  bottom: 4%;
  left: 2%;
}

#logoImage {
  height: 100%;

}

#logo div {
  font-family: "Cinzel", sans-serif;
  background: -webkit-linear-gradient(#f30d01, #fbb920);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  font-size: 1.5em;
}